* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #2f2f42;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.feedback-form {
  width: 100%;
  max-width: 624px;
  margin: 50px auto;
  padding: 24px 24px 32px;

  background-color: #ffffff;
  border-radius: 8px;
}

.feedback-form label {
  display: block;
  margin-bottom: 16px;

  color: #2f2f42;
  font-size: 18px;
  line-height: 1.5;
}

.feedback-form input,
.feedback-form textarea {
  display: block;
  width: 100%;
  margin-top: 8px;
  padding: 8px 16px;

  font-family: inherit;
  font-size: 16px;
  color: #2f2f42;

  background-color: #ffffff;
  border: 1px solid #808080;
  border-radius: 4px;

  outline: none;

  transition: border-color 250ms ease;
}

.feedback-form input {
  height: 40px;
}

.feedback-form textarea {
  min-height: 120px;
  resize: none;
}

.feedback-form input:hover,
.feedback-form textarea:hover {
  border-color: #000000;
}

.feedback-form input:focus,
.feedback-form textarea:focus {
  border-color: #4e75ff;
}

.feedback-form button {
  display: block;

  margin-top: 8px;
  padding: 8px 16px;

  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;

  background-color: #4e75ff;
  border: none;
  border-radius: 8px;

  cursor: pointer;

  transition: background-color 250ms ease;
}

.feedback-form button:hover {
  background-color: #6c8cff;
}

.feedback-form button:active {
  background-color: #4e75ff;
}
